<form #values="ngForm" (ngSubmit)="addDay(values)">
	<md-form-field>
		<input name="date" mdInput [mdDatepicker]="picker" [ngModel]="today" >
		<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
		<md-datepicker #picker></md-datepicker>
	</md-form-field>
	<md-select placeholder="Observation" name="observationId" ngModel>
		<md-option *ngFor="let observation of observations" [value]="observation.id">{{ observation.name }}</md-option>
	</md-select>
	<md-form-field>
	 <input name="description" mdInput placeholder="Commentaire" ngModel>
	</md-form-field>
    <button type="submit" md-raised-button color="warn">Ajouter</button>
</form>